<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <h1><%=header%></h1>
    <a href="/logout">Logout</a>
    <br>
    <br>
    <a href="/user/trip">See Travel list</a>
    <br>
    <br>
    <a href="/user">profile</a>
    <br>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Option</th>
        </tr>
        <tr>
            <td><%= dataUser.name %></td>
            <td><%= dataUser.email%></td>
            <td> <%= dataUser.balance%> | <a href="user/topup"> Top Up </a> </td>
            <td><a href="user/edit"> Update </a></td>
        </tr>
    </table>
    <p>Your Pending Vacation</p>
    <table border="1">
        <tr>
            <th>To</th>
            <th>Price per traveler</th>
            <th>Guide</th>
            <th>Traveler joined</th>
            <th>Max traveler</th>
            <th>Date depature</th>
            <th>Payment</th>
        </tr>
        <% for (let i = 0; i < dataTripUser.length; i++) { %>
            <tr>
                <td> <%= dataTripUser[i].Trip.name%> </td>
                <td> <%= dataTripUser[i].Trip.price%> </td>
                <td> 0 </td>
                <td> 0   </td>
                <td> <%= dataTripUser[i].Trip.qty %> </td>
                <td> <%= datePlus[i] %> </td>
                <td> <% if (dataTripUser[i].statusInvoice == true) {%>
                        Already Pay
                     <% } else { %> 
                        <a href="#">Pay</a>
                     <% } %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>