<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <h1><%=header%></h1>
    <a href="/logout">Logout</a>
    <br>
    <br>
    <a href="/user/trip">See Travel list</a>
    <br>
    <br>
    <a href="/user">profile</a>
    <br>
    <br>
    <p>Trip You Choose</p>
    <table border="1">
        <tr>
            <th>To</th>
            <th>Price per traveler</th>
            <th>Max traveler</th>
            <th>DoeDate payment</th>
        </tr>
        <tr>
            <td><%= data.Trip.name %></td>
            <td><%= data.Trip.price %></td>
            <td><%= data.Trip.qty %></td>
            <td><%= date %></td>
        </tr>
    </table>
    <br>  
    <form action="/user/join" method="POST">
        <input type="text" name="id" style="display: none" value="<%=data.tripId%>">
        <input type="text" name="invoiceId" style="display: none" value="<%=data.invoiceId%>">
        <br>
        <br>
        <p> Your balance will auto reduce for join this parties </p>
        <input type="submit" value="join">
    </form>  
</body>
</html>